*{
    padding: 0;
    margin: 0;
}
.parent{
    display: flex;
}
.child{
    border: 1px solid black;
    padding: 20px;
    height: 150px;
    width: 30%;
    margin: 20px 0;
    background-color: pink;
    font-size: 20px;
    
}
.child h4{
    margin-top: 20px;
}

.one{
    width: 40%;
    margin-top: 40px;
}
.one input[type="text"]{
    padding:10px 60px;
    margin: 20px 0;
}
.one button{
    padding: 10px 30px;
    color: white;
    background-color: black;
    font-size: 15px;
}